* {
    background-color: hsl(235, 95%, 3.5%);
    color: whitesmoke;
}

nav {
    position: fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding-top: 10px;
}

h2 {
    color: steelblue;
}

h3, h4 {
    color: lightsteelblue;
}

p {
    text-align: center;
}

code {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: steelblue;
    cursor: pointer;
}

a:hover {
    color: lightsalmon;
}

table {
    width: 650px;
}

table, th {
    border: 2px solid darkslategrey;
    margin: 0 auto;
    color: steelblue;
}

table tbody tr td {
    border: 1px solid darkslategray;
}

.code {
    background-color: dimgray;
}

.home {
    position: relative;
    top: 25px;
    margin: 0 auto;
    text-align: center;
}

#sheet {
    position: relative;
    top: 25px;
}
