* {
    background-color: hsl(235, 95%, 3.5%);
    color: whitesmoke;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
    box-shadow: 0px 2px darkslategray;
}

nav a {
    margin: 5px 5px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding-top: 10px;
}

h2 {
    color: steelblue;
}

h3, h4 {
    color: lightsteelblue;
}

p {
    text-align: center;
}

code {
    padding: 5px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    white-space: pre;
    text-align: left !important;
}

div {
    text-align: center;
}

a {
    color: steelblue;
    cursor: pointer;
}

a:hover {
    color: lightsalmon;
}

table, th {
    border: 2px solid darkslategrey;
    margin: 0 auto;
    color: steelblue;
}

table tbody tr td {
    border: 1px solid darkslategray;
    padding: 0px 5px;
}

table code {
    width: 250px;
}

.code {
    background-color: slategrey;
    opacity: 0.7;
    padding: 2px 5px;
}

.home {
    position: relative;
    top: 25px;
    margin: 0 auto;
    text-align: center;
}

#sheet {
    position: relative;
    top: 25px;
}

#button {
    padding: 5px;
    border: 1px solid steelblue;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
}

button:hover {
    cursor: pointer;
    color: lightsalmon;
}

button:active {
    margin-top: 5px;
    color: lightsalmon;
    box-shadow: 0px 0px;
}

#button2 {
padding: 5px;
border: 1px solid steelblue;
border-radius: 5px;
text-decoration: none;
box-shadow: 0px 5px;
}

#button2:hover {
background-color: #fff;
cursor: pointer;
color: lightsalmon;
transition: color .1s ease-in, background-color .1s ease-in;
}

#button2:active {
margin-top: 5px;
color: lightsalmon;
box-shadow: 0px 0px;
font-size: 18px;
transition: font-size .1s ease-in-out;
}
