.gridFrameworks {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    grid-auto-flow: row;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

.gridNav {
    grid-row: 1;
    border-bottom: 1px solid darkslategray;
}

.gridContent {
    grid-row: 2;
    padding: 1.5rem;
    overflow-y: auto;
}
