.subnavLink {
    color: steelblue;
    cursor: pointer;
    margin: 3px 3px;
    display: inline;
    text-decoration: none;
}

.subnavLink li {
    display: inline;
}

.subnavLink li+li::before {
    content: "|";
    margin-right: 3px;
}

.subnavLink:hover {
    background-color: darkslategray;
}
