* {
    background-color: hsl(250 10% 10%);
    color: white;
}

section {
    border: 1px solid white;
    margin: 20px;
}

div {
    border: 1px dotted lightgray;
}

p {
    background-color: transparent;
}

.header-title {
    text-align: center;
}

.colors h2 {
    margin: 10px 10px;
}

#color-cool-blue {
    background-color: #2d5dcc;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
}

#color-cool-blue p {
    color: white;
    text-align: center;
}

#color-pink {
    background-color: #d957d9;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
}

#color-pink p {
    color: white;
    text-align: center;
}

#color-mint-green {
    background-color: #4fe0b0;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
}

#color-mint-green p {
    color: black;
    text-align: center;
}

#color-beige {
    background-color: #efd9ca;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
}

#color-beige p {
    color: black;
    text-align: center;
}

.fonts h2 {
    margin: 10px 10px;
}

.fonts h3 {
    margin: 10px 10px;
    text-decoration: underline;
}

.fonts p {
    margin: 10px 10px;
}

.fonts div {
    border: 1px solid gray;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 15px 10px;
    box-shadow: 5px 5px 5px rgba(100, 0, 0, 0.3);
}

.font-arial {
    font-family: Arial, sans-serif;
}

.font-times-new-roman {
    font-family: 'Times New Roman', serif;
}

.font-serif {
    font-family: serif;
}

.font-sans-serif {
    font-family: sans-serif;
}

.text-styles h1, .text-styles h2, .text-styles p {
    margin: 10px 10px;
}

.example-NunitoSans {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Nunito Sans', sans-serif;
}

.example-Roboto {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.example-Roboto-regular {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
