* {
  background-color: hsl(235, 95%, 2%);
  color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p, div {
  text-align: center;
}

h2 {
  color: steelblue;
}

h3, h4 {
  color: lightsteelblue;
}

a, .sidebarLink {
  color: steelblue;
  cursor: pointer;
  margin: 3px;
}

a:hover, .sidebar p:hover, .sidebarLink:hover {
  color: lightsalmon;
}

.sidebarLink:hover {
  background-color: darkslategray;
}

table {
  border: 2px solid darkslategrey;
  margin: 0 auto;
  color: steelblue;
}

th, td {
  border: 1px solid darkslategray;
  padding: 0 5px;
}

table code {
  width: 250px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 750;
  border-top: 2px solid darkslategray;
  font-size: 10px;
  color: hsl(0, 0%, 50%);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  box-shadow: 0 2px darkslategray;
  text-align: left;
}

.nav a {
    margin: 5px;
}

.breadcrumb {
    margin: 0;
}

.breadcrumb > li {
    display: inline;
}

.breadcrumb li+li::before {
    content: "|";
    margin: 0 5px;
}

.breadcrumb a {
	text-decoration: none;
}

.breadcrumb a:hover {
	color: red;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  overflow: auto;
  margin: 0px 0px 25px 200px;
  transition: margin 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 15px;
  left: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  z-index: 500;
  border-right: 2px solid darkslategray;
  flex: 0 0 auto;
  transition: width 0.3s ease;
}

.buttonRight {
    float: right;
    margin-right: 10px;
    border: 1px solid darkslategray;
    color: slategray;
}

.codeSnippet {
  padding: 5px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  white-space: pre;
  text-align: left !important;
}

.home {
  position: relative;
  top: 25px;
  margin: 0 auto;
  text-align: center;
}

#sheet {
  position: relative;
  top: 25px;
}

#button, #button2 {
  padding: 5px;
  border: 1px solid steelblue;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 5px;
}

#button:hover, #button2:hover {
  cursor: pointer;
  color: lightsalmon;
}

#button:active, #button2:active {
  margin-top: 5px;
  color: lightsalmon;
  box-shadow: 0 0;
}

#button2:hover {
  background-color: #fff;
  transition: color 0.1s ease-in, background-color 0.1s ease-in;
}

#button2:active {
  font-size: 18px;
  transition: font-size 0.1s ease-in-out;
}

/* Mobile (default): */
@media (max-width: 767px) {
  .sidebar {
    width: 50px;
    overflow: hidden;
  }
}

/* Mobile (default): */
@media (max-width: 767px) {
  .sidebar {
    width: 50px;
    overflow: hidden;
  }

  .content {
    margin-left: 50px;
  }
}

/* Desktop (md and up): */
@media (min-width: 768px) {
  .sidebar {
    width: 200px;
    overflow: auto;
  }

  .content {
    margin-left: 200px;
  }
}
