.sidebar {
  text-align: center;
}

.sidebarButton {
  float: right;
  margin-right: 10px;
  border: 1px solid darkslategray;
  color: slategray;
}

.sidebarLink {
  color: steelblue;
  cursor: pointer;
  margin: 3px;
}

.itemSidebar p:hover,
.sidebarLink:hover {
  color: lightsalmon;
}

.sidebarLink:hover {
  background-color: darkslategray;
}
