.nav a {
  margin: 5px;
}

.breadcrumb {
  margin: 0;
}

.breadcrumb > li {
  display: inline;
}

.breadcrumb li + li::before {
  content: ">";
  margin: 0 5px;
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:hover {
  color: red;
}
